<h3>User Registration</h3>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['username'].errors }" placeholder="Enter username here" />
        <div *ngIf="submitted && fval['username'].errors" class="invalid-feedback">
            <div *ngIf="fval['username'].errors['required']">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['email'].errors }" placeholder="Enter email here" />
        <div *ngIf="submitted && fval['email'].errors" class="invalid-feedback">
            <div *ngIf="fval['email'].errors['required']">Email is required</div>
            <div *ngIf="fval['email'].errors['email']">Enter valid email address</div>
        </div>
    </div>


    <div class="form-group">
        <label for="email">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['password'].errors }" placeholder="Enter Password here" />
        <div *ngIf="submitted && fval['password'].errors" class="invalid-feedback">
            <div *ngIf="fval['password'].errors['required']">Password is required</div>
            <div *ngIf="fval['password'].errors['minlength']">Password must be at least 6 characters</div>
        </div>

    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" formControlName="dateOfBirth" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['dateOfBirth'].errors }"
            placeholder="Enter date of birth here" />
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Login to continue</a>
    </div>
</form>