/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Form Container */
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Form Header */
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Form Labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Form Inputs */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Placeholder Color */
.form-control::placeholder {
    color: #adb5bd;
}

/* Invalid Feedback */
.invalid-feedback {
    color: #e3342f;
    font-size: 14px;
    margin-top: 5px;
}

/* Invalid Input */
.is-invalid {
    border-color: #e3342f;
}

/* Button Styles */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-link {
    background-color: transparent;
    border: none;
    color: #007bff;
    text-decoration: none;
    padding: 0;
    font-size: 16px;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Spinner */
.spinner-border {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
