<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" required />
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" placeholder="Enter your username" required />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your password" required />
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" formControlName="dateOfBirth" type="date" />
    </div>

    <div class="form-group">
        <label for="jmbg">JMBG</label>
        <input id="jmbg" formControlName="jmbg" type="text" placeholder="Enter your JMBG" required />
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" placeholder="Enter your first name" required />
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Enter your last name" required />
    </div>

    <div class="form-group">
        <label for="biography">Biography</label>
        <textarea id="biography" formControlName="biography" placeholder="Enter your biography"></textarea>
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <select id="title" formControlName="title" required>
            <option *ngFor="let item of titleTypes" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="scienceField">Science Field</label>
        <select id="scienceField" formControlName="scienceField" required>
            <option *ngFor="let item of scienceFields" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="electedDate">Elected title</label>
        <input id="electedDate" formControlName="electedDate" type="date" />
    </div>

    <div class="form-group">
        <label for="expireDate">Expire title</label>
        <input id="expireDate" formControlName="expireDate" type="date" />
    </div>

    <button type="submit" class="submit-button">Add teacher</button>
</form>