.dialog-title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 24px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px 24px;
  }
  
  .cancel-button {
    color: #757575;
  }
  
  .save-button {
    background-color: #1976d2;
    color: white;
  }
  
  .save-button:hover {
    background-color: #1565c0;
  }
  