<h1 mat-dialog-title class="dialog-title">Assign Professor and Assistant</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field *ngIf="selectedTeacher.title.titleType.name === 'Professor'; else assistents" appearance="outline"
        class="full-width">
        <mat-label>Professor</mat-label>
        <mat-select [(ngModel)]="selectedTeacher">
            <mat-option *ngFor="let professor of professors" [value]="professor">
                {{ professor.firstName }} {{ professor.lastName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-template #assistents>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Assistant</mat-label>
            <mat-select [(ngModel)]="selectedTeacher">
                <mat-option *ngFor="let assistant of assistants" [value]="assistant">
                    {{ assistant.firstName }} {{ assistant.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>
</div>




<div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">Cancel</button>
    <button mat-flat-button (click)="onSave()" class="save-button" cdkFocusInitial>Save</button>
</div>