<h2 mat-dialog-title>Study Programme Details</h2>
<div mat-dialog-content>
  <p><strong>Name:</strong> {{ data.name }}</p>
  <p *ngIf="data.coordinator"><strong>Coordinator:</strong> {{ data.coordinator.firstName }} {{ data.coordinator.lastName }}</p>
  <p *ngIf="data.faculty"><strong>Faculty:</strong> {{ data.faculty.name }}</p>
  <p *ngIf="data.yearOfStudy">
    <strong>Year of Study:</strong> {{ getYear(data.yearOfStudy.year) }}
  </p>

  
  <h3>Subjects:</h3>
  <ul *ngIf="data.subjects && data.subjects.length > 0">
    <li *ngFor="let subject of data.subjects">
      {{ subject.name }} ({{ subject.espb }} ESPB) - {{ subject.mandatory ? 'Mandatory' : 'Optional' }}
    </li>
  </ul>
  <p *ngIf="!data.subjects || data.subjects.length === 0">No subjects available.</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
