<h3>User Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['username'].errors }" placeholder="Enter username here" />
        <div *ngIf="submitted && fval['username'].errors" class="invalid-feedback">
            <div *ngIf="fval['username'].errors['username']">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval['password'].errors }" placeholder="Enter password here" />
        <div *ngIf="submitted && fval['password'].errors" class="invalid-feedback">
            <div *ngIf="fval['password'].errors['required']">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
    </div>
</form>