.form-container {
  height: 100%; /* Zauzimanje pune visine */
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; /* Omogućavanje vertikalnog skrolovanja */
}

.section {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.section:last-child {
  border-bottom: none;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-buttons .btn {
  margin-left: 10px;
}

.save-btn {
  background-color: #007bff !important;
  color: white !important;
}

.mat-raised-button.mat-primary {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}

