<form (ngSubmit)="onSubmit()" #studentForm="ngForm" class="form-container">
  <div class="section">
    <h4>User Information</h4>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <mat-select [(ngModel)]="selectedUser" name="user" (selectionChange)="onUserSelectionChange($event.value)" [disabled]="isEditing">
          <mat-option *ngFor="let user of filteredUsers" [value]="user.username">{{ user.username }}</mat-option>
          <mat-option value="new" class="create-new-user">Create new user</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="isCreatingNewUser || isExistingUser">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="newUser.username" [readonly]="isExistingUser" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="newUser.email" [readonly]="isExistingUser" required>
        </mat-form-field>
      </div>

      <div class="form-group" *ngIf="isCreatingNewUser && !isEditing">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="newUser.password" required>
        </mat-form-field>
    </div>
    
      <div class="form-group" *ngIf="!isEditing">
        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="date" name="dateOfBirth" [(ngModel)]="newUserFormattedDateOfBirth" required>
        </mat-form-field>
    </div>    
    </div>
  </div>

  <div class="section">
    <h4>Student Information</h4>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>JMBG</mat-label>
        <input matInput type="text" id="jmbg" name="jmbg" [(ngModel)]="jmbg" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="selectedCountry" name="country" (selectionChange)="onCountrySelectionChange($event.value)">
          <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Place of Residence</mat-label>
        <mat-select [(ngModel)]="selectedPlace" name="placeOfResidence" (selectionChange)="onPlaceSelectionChange($event.value)">
          <mat-option *ngFor="let place of filteredPlaces" [value]="place.name">{{ place.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput type="text" id="street" name="street" [(ngModel)]="street" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput type="text" id="number" name="number" [(ngModel)]="number" required>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h4>Enrollment Information</h4>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Index Number</mat-label>
        <input matInput type="text" id="indexNumber" name="indexNumber" [(ngModel)]="studentOnYearCopy.indexNumber" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Date of Enroll</mat-label>
        <input matInput type="date" [(ngModel)]="enrollDate" name="enrollDate" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Year of Study</mat-label>
        <mat-select [(ngModel)]="selectedYearOfStudy" name="yearOfStudy" required>
          <mat-option *ngFor="let year of yearsOfStudy" [value]="year.id">{{ year.year | date:'yyyy' }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Study Programme</mat-label>
        <mat-select [(ngModel)]="selectedStudyProgramme" name="studyProgramme" required>
          <mat-option *ngFor="let programme of studyProgrammes" [value]="programme.id">{{ programme.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary" type="submit" class="save-btn">Save</button>
    <button mat-button color="warn" type="button" (click)="resetForm()">Reset</button>
  </div>
</form>
