.dialog-container {
    padding: 20px;
    max-width: 400px;
  }
  
  h1.mat-dialog-title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .mat-dialog-content {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-dialog-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  button.mat-button {
    margin-right: 10px;
  }
  