<div class="dialog-container">
    <h1 mat-dialog-title>Change Role</h1>
    <div mat-dialog-content class="dialog-content">
        <mat-form-field appearance="fill">
            <mat-label>Select Role</mat-label>
            <mat-select [(value)]="selectedRole">
                <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
</div>