<form [formGroup]="teacherSlotForm" (ngSubmit)="onSubmit()" class="teaching-form">
    <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="datetime-local" id="startTime" formControlName="startTime" class="form-control">
        <div *ngIf="teacherSlotForm.get('startTime')?.invalid && teacherSlotForm.get('startTime')?.touched"
            class="error">
            Start time is required.
        </div>
    </div>

    <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="datetime-local" id="endTime" formControlName="endTime" class="form-control">
        <div *ngIf="teacherSlotForm.get('endTime')?.invalid && teacherSlotForm.get('endTime')?.touched" class="error">
            End time is required.
        </div>
    </div>

    <div class="form-group">
        <label for="teachingType">Teaching Type</label>
        <select id="teachingType" formControlName="teachingType" class="form-control">
            <option *ngFor="let type of teachingTypes" [value]="type.id">{{ type.name }}</option>
        </select>
        <div *ngIf="teacherSlotForm.get('teachingType')?.invalid && teacherSlotForm.get('teachingType')?.touched"
            class="error">
            Teaching type is required.
        </div>
    </div>

    <div class="form-group">
        <label for="courseRealization">Subject and Teacher</label>
        <select id="courseRealization" formControlName="courseRealization" class="form-control">
            <option *ngFor="let course of courses" [value]="course.courseRealizationId">{{ course.subject.name }} -
                {{course.teacher ? (course.teacher.firstName + ' ' + course.teacher.lastName) : 'No Teacher'}}
            </option>
        </select>
        <div *ngIf="teacherSlotForm.get('courseRealization')?.invalid && teacherSlotForm.get('courseRealization')?.touched"
            class="error">
            Course and Teacher selection is required.
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="teacherSlotForm.invalid">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
    </div>
</form>