<form [formGroup]="studentServiceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" required />
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" placeholder="Enter your username" required />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your password" required />
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" formControlName="dateOfBirth" type="date" />
    </div>
    <button type="submit" class="submit-button">Add student service</button>
</form>