<table class="student-table">
  <thead>
    <tr>
      <th><input type="checkbox" (change)="toggleSelectAll($event)" [disabled]="formOpen"></th>
      <th>JMBG</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Index Number</th>
      <th>Address (Country - City - Street)</th>
      <th>Date of Enroll</th>
      <th>Year of Study</th>
      <th>Study Programme</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of filteredStudents">
      <td><input type="checkbox" [(ngModel)]="student.checked" (change)="onStudentCheckChange(student)" [disabled]="formOpen"></td>
      <td>{{student.jmbg}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>
        <ng-container *ngIf="student.studentOnYear && student.studentOnYear.length > 0; else noIndexNumber">
          {{student.studentOnYear[0].indexNumber}}
        </ng-container>
        <ng-template #noIndexNumber>/</ng-template>
      </td>
      <td>{{student.formattedAddress}}</td>
      <td>{{ getDateOfEnroll(student) }}</td>
      <td>{{ getYearOfStudy(student) }}</td>
      <td>{{ getStudyProgramme(student) }}</td>
    </tr>
  </tbody>
</table>
