/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Table Header */
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table Styles */
.student-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-table th, .student-table td {
    padding: 10px;
    text-align: left;
}

.student-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.student-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.student-table tr:hover {
    background-color: #e9ecef;
}

.student-table td {
    border: 1px solid #ddd;
}

/* Responsive Table */
@media (max-width: 600px) {
    .student-table thead {
        display: none;
    }

    .student-table tr {
        display: block;
        margin-bottom: 10px;
    }

    .student-table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .student-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        text-align: left;
        font-weight: bold;
    }
}

.student-table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.search-bar {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.custom-search-input {
  width: 300px; /* Adjust width as needed */
  padding: 6px 12px; /* Adjust padding for thinner look */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.custom-search-input::placeholder {
  color: #999;
  font-size: 14px;
}
