<h3>Subjects</h3>
<table class="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ESPB</th>
            <th>Mandatory</th>
            <th>Number of lecturer classes</th>
            <th>Number of practice classes</th>
            <th>Number of other classes</th>
            <th>Number of other forms classes</th>
            <th>Research work</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of subjects">
            <td>{{s.name}}</td>
            <td>{{s.espb}}</td>
            <td>{{s.mandatory}}</td>
            <td>{{s.numLectureClasses}}</td>
            <td>{{s.numPracticeClasses}}</td>
            <td>{{s.numOtherClasses}}</td>
            <td>{{s.numOtherFormsClasses}}</td>
            <td>{{s.researchWork}}</td>
            <td>
                <button (click)="viewStudents()" class="student-button">View Students</button>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>