<div class="dialog-container">
  <h2 class="dialog-title">Confirmation</h2>
  <p class="dialog-message">{{ data.message }}</p>
  <div class="dialog-actions">
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onConfirm()">Yes</button>
  </div>
</div>
