.dialog-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dialog-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.dialog-message {
  margin: 20px 0;
  font-size: 16px;
  color: #555;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button[color="warn"] {
  background-color: #dc3545;
  color: white;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[color="warn"]:hover {
  background-color: #c82333;
}

button[color="primary"] {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[color="primary"]:hover {
  background-color: #0069d9;
}
