<div *ngIf="university" class="hero-section">
  <h1>{{ university.name }}</h1>
  <p>Established in {{ university.foundationDate | date: 'yyyy' }}, it stands today as one of the premier universities in the region...</p>
</div>

<div *ngIf="university" class="description-section">
  <h2>About the University</h2>
  <p>{{ university.name }} University is a prestigious institution dedicated to academic excellence, innovation, and the holistic development of its students. Named to honor the values of illumination, strength, and unity, Lumifil combines the rich legacies of its founders— Filip, Milos, and Luka —who were visionaries in education and research.

    The university offers a wide array of undergraduate, graduate, and doctoral programs across diverse disciplines, ranging from the humanities and sciences to technology and business.
    
    At Lumifil, students are encouraged to think critically, engage with global challenges, and contribute positively to society. The university is renowned for its cutting-edge research facilities, vibrant campus life, and strong commitment to community service.
    
    With a focus on sustainability, innovation, and global partnerships, Lumifil University continues to shape the future, nurturing leaders who will make a meaningful impact on the world.</p>
</div>

<div *ngIf="university && university.rector" class="rector-section">
  <h2>Rector - {{ university.rector.firstName }} {{ university.rector.lastName }}</h2>
  <p>{{ university.rector.biography }}</p>
</div>

<div class="bottom-sections">
  <div *ngIf="university" class="contact-section">
    <h2>Contact Information</h2>
    <p><strong>Address:</strong><br> {{ university.address.street }},<br> {{ university.address.placeOfResidence.name }},<br> {{ university.address.placeOfResidence.country.name }}</p>
    <p><strong>Phone:</strong><br> +381 11 123456</p>
    <p><strong>Email:</strong><br> info&#64;university.xyz</p>
  </div>
  
  <div *ngIf="university" class="location-section">
    <h2>Location</h2>
    <div id="map"></div>
  </div>
</div>
