/* Hero Section Styling */
.hero-section {
  background-color: #3F51B5;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.hero-section h1 {
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.5em;
}

.hero-section p {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 1em;
}

/* Description and Rector Sections */
.description-section, .rector-section {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  min-height: 200px;
  font-size: 1rem;
  line-height: 1.6;
}

/* Bottom Sections Styling */
.bottom-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.contact-section, .location-section {
  width: 45%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 1rem;
  line-height: 1.4;
}

.contact-section p {
  margin: 1rem 0;
}

.contact-section h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

/* Leaflet map styling */
.location-section #map {
  height: 90%; /* Visina mape se prilagođava kontejneru */
  width: 100%;  /* Širina mape je 100% kontejnera */
  border-radius: 8px;
  margin: 0 auto; /* Centriranje mape unutar kontejnera */
}

/* Ensure location-section takes full height */
.location-section {
  position: relative;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden; /* Sprečava izlazak sadržaja iz kontejnera */
  height: 350px; /* Visina sekcije, u skladu sa mapom */
}

.location-icon {
  font-size: 3rem;
  color: #3F51B5;
  margin-bottom: 1rem;
}

/* Hover Effect for All Sections */
.hero-section:hover, 
.description-section:hover, 
.rector-section:hover, 
.contact-section:hover, 
.location-section:hover {
  background-color: #ececec;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Responsive Layout for Mobile */
@media (max-width: 768px) {
  .bottom-sections {
    flex-direction: column;
  }

  .contact-section, .location-section {
    width: 100%;
    margin-bottom: 1rem;
  }
}
