<h3>Teaching Materials List</h3>
<table class="teaching-materials-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Authors</th>
      <th>Year of Publication</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of teachingMaterials">
      <td>{{ material.name }}</td>
      <td>{{ material.authors }}</td>
      <td>{{ material.yearOfPublication | date: 'yyyy' }}</td>
    </tr>
  </tbody>
</table>
