<!-- <h3>Students List</h3>
<ul class="students-list">
    <li *ngFor="let student of students">
        <div class="student-card">
            <div class="student-info">
                <h4>{{student.firstName}} {{student.lastName}}</h4>
                <p><strong>{{student.index}}</strong></p>
                <p><strong>{{student.yearOfEnrollments}}</strong></p>
            </div>
            <div class="student-actions">
                <button class="details-button">View Details</button>
                <button class="edit-button">Edit</button>
                <button class="delete-button">Delete</button>
            </div>
        </div>
    </li>
</ul> -->