/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* List Header */
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Students List */
.students-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.student-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-info h4 {
    margin: 0 0 5px 0;
    color: #007bff;
}

.student-info p {
    margin: 2px 0;
    color: #555;
}

/* Buttons */
.student-actions {
    display: flex;
    flex-direction: column;
}

.details-button, .edit-button, .delete-button {
    margin: 3px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-button {
    background-color: #007bff;
    color: white;
}

.details-button:hover {
    background-color: #0056b3;
}

.edit-button {
    background-color: #28a745;
    color: white;
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 600px) {
    .student-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .student-actions {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .student-actions button {
        width: 32%;
    }
}
