.teaching-slots-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .teaching-slots-table {
    width: 100%;
  }
  
  .teaching-slots-table th,
  .teaching-slots-table td {
    padding: 8px 16px;
    text-align: left;
  }
  
  .teaching-slots-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .outcomes-list {
    list-style: none;
    padding-left: 0;
  }
  
  .outcomes-list li {
    background-color: #e0e0e0;
    margin: 4px 0;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
  }
  