<div class="teaching-slots-container">
    <table mat-table [dataSource]="teachingSlots" class="mat-elevation-z8">
        <!-- Slot Number Column -->
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Start time </th>
            <td mat-cell *matCellDef="let slot"> {{slot.startTime}} </td>
        </ng-container>

        <!-- Slot Time Column -->
        <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef> End Time </th>
            <td mat-cell *matCellDef="let slot"> {{slot.endTime}} </td>
        </ng-container>

        <!-- Outcomes Column -->
        <ng-container matColumnDef="outcome">
            <th mat-header-cell *matHeaderCellDef> Outcomes </th>
            <td mat-cell *matCellDef="let slot">
                <ul class="outcomes-list">
                    <li *ngIf="slot.outcome && slot.outcome.description">{{slot.outcome.description}}</li>
                </ul>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let slot">
                <button *ngIf="!slot.outcome" mat-button (click)="addOutcome(slot)">Add Outcome</button>
            </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>