<h3>Faculty List</h3>
<table class="faculty-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address (Country - City - Street)</th>
      <th>Dean</th>
      <th>Study Programmes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faculty of faculties">
      <td>{{faculty.name}}</td>
      <td>{{faculty.address.placeOfResidence.country.name}} - {{faculty.address.placeOfResidence.name}} - {{faculty.address.street}}</td>
      <td>{{faculty.dean.firstName}} {{faculty.dean.lastName}}</td>
      <td>
        <ul>
          <li *ngFor="let programme of faculty.studyProgrammes" (click)="openStudyProgrammeDetails(programme)">
            <a href="javascript:void(0)">{{programme.name}}</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
