<h3>Courses</h3>
<table *ngIf="!showSpiner; else spinner" class="user-table">

    <thead>
        <tr>
            <th>Name</th>
            <th>ESPB</th>
            <th>Mandatory</th>
            <th>Year</th>
            <th>Study program name</th>
            <th>Faculty name</th>
            <th>Teacher</th>
            <th>Title</th>
            <th>Science field</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of courses">
            <td>{{c.subject.name}}</td>
            <td>{{c.subject.espb}}</td>
            <td>{{c.subject.mandatory}}</td>
            <td>{{c.year}}</td>
            <td>{{c.studyProgramName}}</td>
            <td>{{c.facultyName}}</td>
            <td *ngIf="c.teacher; else elseBlock">{{c.teacher.firstName}} {{c.teacher.lastName}}</td>
            <td *ngIf="c.teacher; else elseBlock">{{c.teacher.title.titleType.name}}</td>
            <td *ngIf="c.teacher; else elseBlock">{{c.teacher.title.scienceField.name}}</td>
            <td>
                <button *ngIf="!c.teacher; else editButton" mat-button (click)="openTeacherSelectDialog(c.subject)"
                    class="add-teacher-button">Add
                    Teacher</button>
            </td>
            <ng-template #editButton>
                <button mat-button (click)="editTeacher(c)">Edit
                    Teacher</button>
            </ng-template>
        </tr>
    </tbody>

    <ng-template #elseBlock>
        <td>/</td>
    </ng-template>






</table>

<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>