.student-page {
  position: relative;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: margin-right 0.3s ease;
}

.header.form-open {
  margin-right: 200px; /* Smanjena margina */
}

.search-bar {
  flex-grow: 1; /* Omogućava search baru da zauzme preostali prostor */
  margin-right: 10px; /* Razmak između search bara i dugmadi */
  max-width: 300px; /* Maksimalna širina search bara */
}

.custom-search-input {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.custom-search-input::placeholder {
  color: #999;
  font-size: 14px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group.form-open {
  margin-right: 200px; /* Smanjena margina */
  transition: margin-right 0.3s ease;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.content {
  display: flex;
  width: 100%;
}

.student-table-container {
  flex: 1;
  transition: margin-right 0.3s ease;
}

.student-table-container.form-open {
  margin-right: 400px;
}

.student-form-container {
  position: fixed;
  top: 0; /* Postavljanje na vrh */
  right: -400px; /* Prvobitna pozicija pre otvaranja */
  width: 400px;
  height: 100%; /* Zauzimanje pune visine */
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  overflow-y: auto; /* Omogućavanje vertikalnog skrolovanja */
}

.student-form-container.open {
  right: 0; /* Pomera formu sa desne strane kada je otvorena */
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
