<div class="student-page">
  <div class="header" [ngClass]="{'form-open': formOpen}">
    <div class="search-bar">
      <input 
        (input)="onSearchChange($event)" 
        placeholder="Search by name or JMBG" 
        class="custom-search-input">
    </div>
    <div class="button-group" [ngClass]="{'form-open': formOpen}">
      <button *ngIf="selectedStudents.length > 0" class="btn btn-danger" (click)="deleteStudents()">
        {{ getDeleteButtonText() }}
      </button>
      <button class="btn btn-primary" (click)="toggleForm()">
        {{ formOpen ? 'Close form' : (selectedStudents.length === 1 ? 'Edit student' : 'Create student') }}
      </button>
    </div>
  </div>

  <div class="content">
    <div class="student-table-container" [ngClass]="{'form-open': formOpen}">
      <app-student-table 
        [formOpen]="formOpen" 
        [searchValue]="searchValue"
        (studentsSelected)="onStudentSelected($event)"
        (allStudentsLoaded)="onAllStudentsLoaded($event)">
      </app-student-table>
    </div>

    <div class="student-form-container" [ngClass]="{'open': formOpen}">
      <app-student-form 
        [student]="selectedStudent" 
        [isEditing]="selectedStudents.length === 1" 
        (closeFormEvent)="toggleForm()"
        (studentCreated)="handleStudentCreated()"> <!-- Povezivanje događaja -->
      </app-student-form>
    </div>
  </div>
</div>
