<h3>User List</h3>
<table class="user-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.dateOfBirth ? (u.dateOfBirth).toString().substring(0, 10) : u.dateOfBirth}}</td>
            <td>{{roleNames(u.username)}}</td>
            <td>
                <button (click)="openRoleDialog(u)" class="role-button">Change role</button>
            </td>
        </tr>
    </tbody>
</table>