/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Table Header */
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table Styles */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover {
    background-color: #e9ecef;
}

.user-table td {
    border: 1px solid #ddd;
}

/* Responsive Table */
@media (max-width: 600px) {
    .user-table thead {
        display: none;
    }

    .user-table tr {
        display: block;
        margin-bottom: 10px;
    }

    .user-table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .user-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        text-align: left;
        font-weight: bold;
    }
}

/* Student Button */
.role-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.role-button:hover {
    background-color: #0056b3;
}