<h2>Search Students</h2>

<form [formGroup]="searchForm" class="search-form">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Index Number</mat-label>
        <input matInput formControlName="indexNumber" placeholder="Enter index number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Year of Enrollment</mat-label>
        <mat-select formControlName="yearOfEnrollment">
            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
    <button mat-raised-button color="secondary" (click)="clearInputs()">Clear</button>
</form>
<mat-table #table [dataSource]="filteredStudents" class="mat-elevation-z8" cdkDropList
    (cdkDropListDropped)="drop($event)" cdkDropListData="filteredStudents">
    <ng-container matColumnDef="first name" sticky>
        <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon class="example-drag-cursor">reorder</mat-icon>
            <span>{{element.firstName}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last name">
        <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="average grade">
        <mat-header-cell *matHeaderCellDef> Average grade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.averageGrade}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ectsScoredPoints">
        <mat-header-cell *matHeaderCellDef> ECTS Scored points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ectsScoredPoints}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year of enrollment">
        <mat-header-cell *matHeaderCellDef> Year of enrollment </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.yearOfEnrollments}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
</mat-table>