<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [(opened)]="isDrawerOpened" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/faculties">Faculties</a>
      <a mat-list-item routerLink="/teaching-materials">Teaching Materials</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['admin'])" mat-list-item routerLink="/user-table">Users</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['studentService'])" mat-list-item routerLink="/students">Students</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['teacher'])" mat-list-item routerLink="/subjects">Subjects</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['teacher'])" mat-list-item routerLink="/teaching-slots">Slots</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['teacher'])" mat-list-item routerLink="/students-search">StudentsSearch</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['admin'])" mat-list-item routerLink="/teacher-form">Teachers</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['admin'])" mat-list-item routerLink="/student-service-form">Student service</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['admin'])" mat-list-item routerLink="/courses-table">Courses</a>
      <a *ngIf="isUserAuthenticated && hasAnyRole(['studentService'])" mat-list-item routerLink="/teaching-slots-form">Slots</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">University LMS</span>
      <span class="spacer"></span>
      <button *ngIf="!isUserAuthenticated" mat-button routerLink="/login">Login</button>
      <button *ngIf="!isUserAuthenticated" mat-button routerLink="/register">Register</button>
      <button *ngIf="isUserAuthenticated" mat-button (click)="logout()">Sign out</button>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
